@font-face {
  font-family: 'Tropika';
  src: url('font/tropica-island.otf') format('opentype');
}


body {
  font-family: 'Tropika', sans-serif;
  text-align: center;
  background-image: url('assets/background.png');
  background-repeat: repeat;
  color: #2e56a8;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: #f7f8ef;
  border: 3px solid #2e56a8;
}

p{
    margin: 0;
}
.logo {
  width: 220px;
  display: block;
  margin: 0 auto;
}

#musicBtn {
  position: absolute;
  top: 20px;
  right: 10px;
}

#resetBtn {
  width: 60px;
  cursor: pointer;
}

button {
    font-family: 'Tropika', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2e56a8;
    color: white;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

@media (max-width: 480px) {
  #musicBtn {
    top: 10px;
    right: 10px;
  }

  .btn-text {
    display: none;
  }

  .logo {
    width: 180px;
  }

  .buttons {
    gap: 8px;
  }

  button {
    padding: 8px 14px;
    font-size: 14px;
  }
}